@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0px;
	color: white;
	padding-left: 50px;
	display: block;

}



span {
	color: red;
}

.xml {
	flex: 0 0 33.3%;
	max-width: 33.3%;
}

.imagenes {
	margin-left: 15px;
	margin-right: 15px;
}

/*Header*/

header {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 10;
	background-color: transparent;
	padding: 15px 15px;
}

header .container {
	-webkit-display: flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo a {
	font-size: 30px;
	text-decoration: none;
	display: block;
	color: #ffffff;
	font-weight: 700;
	align-items: center;

}

header .logo a span {
	color: #c11325;
}

header .nav {
	position: fixed;
	background-color: #000000;
	width: 280px;
	top: 0;
	right: 0;
	height: 100%;
	z-index: 99;
	padding: 100px 0px 15px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
}

header .nav.open {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

header .nav ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}

header .nav ul li {
	display: block;
}

header .nav ul li a {
	text-decoration: none;
	font-size: 30px;
	font-weight: 400;
	color: red;
	display: block;
	position: relative;
	padding: 10px 30px;
}

header .nav ul li a.active::before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: .2;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
	z-index: -1;
}

header .nav ul li a::before {
	content: '';
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 0px;
	background-color: red;
	opacity: .2;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
	z-index: -1;
}

header .nav ul li a:hover::before {
	width: 100%;
}

header .ham-burger {
	display: inline-block;
	position: relative;
	z-index: 100;
}

header .ham-burger span {
	height: 3px;
	margin-bottom: 8px;
	display: block;
	background-color: #ffffff;
	width: 30px;
	-webkit-transition: transform .5s ease;
	transition: transform .5s ease;
}

header .ham-burger span:nth-child(1) {
	transform-origin: left top;
}

header .ham-burger span:nth-child(2) {
	transform-origin: left bottom;
}

header .ham-burger.active span:nth-child(1) {
	-webkit-transform: rotate(45deg) translateY(-6px);
	transform: rotate(45deg) translateY(-6px);
}

header .ham-burger.active span:nth-child(2) {
	-webkit-transform: rotate(-45deg) translateY(6px);
	transform: rotate(-45deg) translateY(6px)
}

.container {
	max-width: 1170px;
	margin: auto;
}

/*Home section*/
.home {
	height: 100vh;
	background-image: url('../images/home4.jpg');
	background-size: cover;
	padding: 15px;
	-webkit-display: flex;
	display: flex;
	position: relative;
}


.home .homh1 {
	padding-bottom: 2 0px;
}

.home .homh2 {
	padding-bottom: 200px;
}

.home .go-down {
	position: absolute;
	bottom: 50px;
	width: 30px;
	height: 42px;
	border: 2px solid #ffffff;
	display: block;
	border-radius: 4px;
	text-align: center;
	left: 50%;
	margin-left: -13px;
}

.home .go-down .fa {
	color: #ffffff;
	-webkit-animation: goDown 1s ease infinite;
	animation: goDown 1s ease infinite;
}

@-webkit-keyframes goDown {
	0% {
		transform: translateY(0);
		opacity: .5
	}

	100% {
		transform: translateY(10px);
	}
}

@keyframes goDown {
	0% {
		transform: translateY(0);
		opacity: .5
	}

	100% {
		transform: translateY(10px);
	}
}

.home .container {
	-webkit-display: flex;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.home h1 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

.home h1 span {
	color: #c11325;
	;
}


/*Info section*/

.about {
	padding: 80px 0px;
	background-color: black;
}

.about .content {
	-webkit-display: flex;
	display: flex;

}

.about .content .box {
	flex: 0 0 50%;
	max-width: 50%;
	padding: 15px;
}

.about .content .box .inner {
	border-radius: 19px;
	background: linear-gradient(145deg, #1f1f1f, #242424);
	box-shadow: 5px 5px 10px #1d1d1d;
}

.about .content .box:nth-child(2) .inner {
	background-color: #c11325;
}

.about .content .box .inner .img img {
	width: 100%;
}

.about .content .box .inner .text {
	padding: 25px;
}

.about .content .box .inner .text h4 {
	font-size: 20px;
	margin: 0;
	padding: 0px;
	font-weight: 500;
	color: #ffffff;
	text-transform: capitalize;
	text-align: center;
}

.about .content .box .inner .text p {
	font-size: 18px;
	line-height: 20px;
	color: #ffffff;
	text-align: center;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}



/*Responsive*/

/*if screen width is less than or equal to 991px then*/
@media(max-width: 991px) {
	.home {
		background-position: center;
	}

	.classes .content {
		flex-wrap: wrap;
	}

	.classes .content .box {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.classes .content .img {
		display: none;
	}

	.start-today .content .box {
		padding: 15px;
	}
}

/*if screen width is less than or equal to 767px then*/
@media(max-width: 767px) {
	.home h1 {
		font-size: 40px;
	}

	.about .content {
		flex-wrap: wrap;
	}

	.about .content .box {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.service .content {
		flex-wrap: wrap;
	}

	.service .content .box {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.classes .content .class-items .item {
		flex-wrap: wrap;
	}

	.classes .content .class-items .item .item-text,
	.classes .content .class-items .item .item-img {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.schedule .content {
		flex-wrap: wrap;
	}

	.schedule .content .box {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.start-today .content {
		flex-wrap: wrap;
	}

	.start-today .content .box {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.gallery .content {
		flex-wrap: wrap;
	}

	.gallery .content .box {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.price-package .content {
		flex-wrap: wrap;
	}

	.price-package .content .box {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.contact .content {
		flex-wrap: wrap;
	}

	.contact .content .box {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

/*if screen width is less than or equal to 550px then*/
@media(max-width: 550px) {
	.home h1 {
		font-size: 30px;
	}
}